{% extends 'base.html' %}

{% block title %}{{title}} / {{super()}}{% endblock %}

{% block content %}

        <h2>{{ title }} <a href="{{ url_for('teachers.add') }}" class="uk-icon-button" uk-icon="plus" uk-tooltip="title: Добавить преподавателя; pos: bottom"></a></h2>
        {% if not teachers %}
        <p>В базе данных не зарегистрировано ни одного преподавателя</p>
        {% else %}
        <table class="uk-table uk-table-striped uk-table-hover">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th colspan="5" class="uk-text-center uk-table-shrink" uk-tooltip="<span class='uk-text-warning'>●</span> &ndash; отчёт ещё не сдан<br><span class='uk-text-success'>●</span> &ndash; отчёт сдан">Отчёты по классному руководству</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th>Преподаватель</th>
                <th class="uk-text-center">Отделение</th>
                <th class="uk-text-center">Учеников</th>
                <th class="uk-text-center uk-table-shrink">I</th>
                <th class="uk-text-center uk-table-shrink">II</th>
                <th class="uk-text-center uk-table-shrink">III</th>
                <th class="uk-text-center uk-table-shrink">IV</th>
                <th class="uk-text-center uk-table-shrink">год</th>
                <th></th>
                <th class="uk-text-center"><span uk-tooltip="Методический доклад">Доклад</span></th>
                <th class="uk-text-center"><span uk-tooltip="Открытый урок">Урок</span></th>
                <th>Действия</th>
            </tr>
            {% for teacher in teachers %}
            <tr>
                <td class="uk-table-shrink">{% if teacher.is_combining %}<span class="uk-text-primary" uk-tooltip="Совместитель">●</span>{% endif %}</td>
                <td><a href="{{ url_for('teachers.view', id=teacher.id) }}">{{ teacher.full_name }}</a></td>
                <td class="uk-text-center"><a href="{{ url_for('departments.view', id=teacher.main_department_id) }}">{{ teacher.main_department.title }}</a></td>
                <td class="uk-text-center">{% if students[teacher.id] %}{{ students[teacher.id] }}{% endif %}</td>
                {% for report in t_reports[teacher.id] %}
                <td class="uk-text-center">{% if teacher.main_department_id %}<span class="uk-text-{% if report %}success{% else %}warning{% endif %}">●</span>{% endif %}</td>
                {% endfor %}
                <td></td>
                <td class="uk-text-center">{% if teacher.main_department_id and not teacher.is_combining %}<span class="{% if teacher.lecture_items %}uk-text-success{% else %}uk-text-danger{% endif %}">●</span>{% endif %}</td>
                <td class="uk-text-center">{% if teacher.main_department_id and not teacher.is_combining %}<span class="{% if teacher.open_lesson_items %}uk-text-success{% else %}uk-text-danger{% endif %}">●</span>{% endif %}</td>
                <td>
                    <a href="{{ url_for('teachers.edit', id=teacher.id) }}" class="uk-icon-button uk-button-default" uk-icon="pencil" uk-tooltip="title: Редактировать; pos: left"></a>
                    <a href="{{ url_for('teachers.delete', id=teacher.id) }}" class="uk-icon-button uk-button-default uk-text-danger" uk-icon="trash" uk-tooltip="title: Удалить; pos: left"></a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}
